* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none !important;
}
/*header*/

.header {
    position: relative; /*переопределение родителя для дочерних элементов с position: absolute*/
    display: flex; /*определяем модель flex-box для блока header*/
    flex-direction: column; /*выстраиваем в колонку (основная ось y)*/

    justify-content: center; /*выравнивание по основоной оси*/
    align-items: center; /*выравнивание по поперечной оси*/

    width: 100%;
    height: 100vh;

    background-color: #556983;
    background-image: url("../img/header/header-bg.jpg");
    background-size: cover;
    background-position: center;
}

.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 56px;
    line-height: 130%; /*1.3*56=72.8 - высота строки*/
    text-align: center;
    color: #FFFFFF;
}

.header-subtitle {
    margin: 0;

    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em; /*расстояние между буквами*/
    text-transform: uppercase; /*верхний регистр*/
    color: #FFFFFF;
}

.header-arrow {
    width: 48px;
    height: 48px;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* portfolio*/

.portfolio {
    padding-top: 80px;
    padding-bottom: 1150px;
}

.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 30px;
    padding: 20px;
    max-width: 540px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
}

.card-title {
    margin: 0;
    margin-bottom: 13px;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000000;

    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.card p {
    margin: 0;

    font-size: 16px;
    line-height: 130%;
    color: #000000;
}